@import '@streamr/streamr-layout/pcss/variables.pcss';

.accountCircle {
  background-color: #97BAC0;
  border-radius: 50%;
  color: white;
  float: right;
  font-size: 16px;
  font-weight: var(--medium);
  height: 3em;
  line-height: 3em;
  margin: -4px 15px -4px 0;
  text-align: center;
  width: 3em;
}

.inner {
  font-size: 1.125em;
}

@media (--md-up) {
  .accountCircle {
    float: none;
    height: 2.5em;
    line-height: 2.5em;
    margin: 0;
    width: 2.5em;
  }
}
