.toolbar {
  padding: 20px 0;
  display: flex;
}

.left,
.right {
  button,
  a {
    margin: 0 10px;
  }
}

.left {
  flex: 50%;
  text-align: left;
  display: flex;
  align-items: center;
}

.right {
  flex: 50%;
  text-align: right;
}

.buttons {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 0;
}

.buttons > *:last-child {
  margin-right: 0;
}
