/* TODO: Use rems. */

.root {
  background: none;
  border: 0;
  box-sizing: content-box;
  flex-shrink: 0;
  font-size: var(--um);
  height: 1.5em;
  padding: 0;
  width: 1.5em;
}

.root:--enter,
.root:--idle {
  outline: 0;
}

.root svg {
  display: block;
  opacity: 0.2;
}

.root:--enter svg {
  opacity: 0.62;
}
