.button {
  appearance: none;
  background-color: transparent;
  border: 0;
  border-radius: 0.125em;
  display: block;
  font-size: var(--um);
  height: 1em;
  padding: 0;
  width: 1em;
}

.button path {
  stroke: #A3A3A3;
}

.button:--enter {
  background-color: #F5F5F5;
  outline: 0;
}

.button:--enter path {
  stroke: #323232;
}

.button svg {
  display: block;
}
