.root {
  align-items: center;
  display: flex;
  height: 1em;
}

.inner {
  position: relative;
  white-space: pre;
}

.inner,
.inner input {
  font: inherit;
  line-height: 2em;
}

.inner input {
  border: 0;
  outline: 0;
  padding: 0;
  position: absolute;
  width: 100%;
}

.spaceholder {
  visibility: hidden;
  white-space: inherit;
}
