.root {
  white-space: pre;
}

.root,
.root input {
  background: rgba(255, 0, 0, 0.2);
  font: inherit;
  line-height: 1em;
}

.root input {
  border: 0;
  outline: 0;
  padding: 0;
  width: 100%;
}
