@import '@streamr/streamr-layout/pcss/variables.pcss';

.panel {
    background-color: #f8f8f8;
    margin-bottom: 40px !important; /* overriding streamrlayout for now */
    padding: 20px !important; /* overriding streamrlayout for now */
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}