.container {
  margin-top: 2rem;
  position: relative;
}

.embedInactive {
  color: rgb(163, 163, 163);
  font-size: 0.75rem;
  letter-spacing: 0;
  line-height: 1.25rem;
  position: absolute;
  top: -1.5rem;
  right: 0;
}
