.root {
  display: block;
  font-size: var(--um);
  height: 1.5em;
  position: relative;
  width: 1.5em;
  z-index: 2;
}

.root svg {
  left: 0.125em;
  position: absolute;
  top: 0.3125em;
}

.open .x,
.closed .hamburger {
  display: block;
}

.closed .x,
.open .hamburger {
  display: none;
}
