.item {
  color: #323232;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 20px;
  cursor: pointer;
  padding: 2px 16px;
  transition-duration: 0.1s;
  transition-property: background-color, color;
}

.item.disabled {
  pointer-events: none;
  opacity: 0.6;
}

.item:hover {
  color: #FFFFFF;
  background-color: #0324FF;
}
