.profile {
  display: flex;
  margin: 24px 0 64px 0;
}

.avatar {
  flex-grow: 1;
}

.additionalComponent {
  display: flex;
  align-items: center;
}

.tabBar {
  display: flex;
  line-height: 32px;
}

.searchBar {
  display: flex;
  margin-right: 36px;
  height: 45px;
  max-width: 190px;
}

.filterBar {
  display: flex;
  margin-left: auto;
}

.filterBar > div {
  bottom: 3px;
}
