.content {
  flex-grow: 1;
}

.name {
  color: #323232;
  font-size: 28px;
  font-family: var(--sans);
  letter-spacing: 0;
  line-height: 32px;
}

.email {
  display: inline-block;
  color: #525252;
  font-size: 12px;
  font-family: var(--sans);
  letter-spacing: 0;
  background: #EFEFEF;
  border-radius: 2px;
  padding: 6px;
  line-height: 12px;
  margin-top: 0.5rem;
}
