.deployingGrid {
  display: grid;
  grid-template-columns: 160px 500px;
  grid-column-gap: 4em;
  align-items: center;
  justify-content: center;

  .deployMessageHeading {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
  }

  .deployMessage {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
  }
}
