.publishProgress {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.titlePending {
  opacity: 0.5;
}

.activeTask {
  color: #A3A3A3;
  font-size: 1um;
  line-height: 1.5um;
  width: 100%;
  min-height: 1.5um;
  margin-bottom: 0.5um;
  text-align: left;
}
