.statusColumn {
  text-align: center;
  min-width: initial;
}

.statusColumn > * {
  vertical-align: middle;
}

.menuColumn {
  min-width: 0 !important;
  max-width: 36px !important;
}

.streamsTable {
  :global(.table-responsive) {
    min-height: 500px;
  }
}
