.productPage {
    color: black;
    padding-bottom: 5em;

    h1,
    h2 {
        margin: 0;
    }
}

.section + .section {
    margin-top: 2em;
}

.headerRow {
    border-bottom: 1px solid #d9d9d9;
}

.cell {
    padding: 1.5em 1em;
}

.headerCell {
    font-weight: bolder;
    padding-bottom: 1em;
    padding-top: 1em;
    text-transform: uppercase;
}
