.productPage {
    color: black;

    h1,
    h2 {
        margin: 0;
    }

    :global {
        .product-page-section + .product-page-section {
            border-top: 1px solid #f8f8f8;
        }
    }
}
