.root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.root > * {
  pointer-events: auto;
}

.CanvasWindow:focus,
.CanvasWindow:focus-within,
.CanvasWindow.isSelected:not(:focus):not(:focus-within) {
  z-index: 2;
}
