.ModulePreview {
  width: 100%;
  height: auto;
}

.ModulePreviewHeaderText {
  fill: #D8D8D8;
  rx: 0.2%;
}

.ModulePreviewBottomBorder {
  stroke: #EFEFEF;
  stroke-linecap: square;
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
}

.ModulePreviewBackground {
  fill: #FCFBF9;
  rx: 0.2%;
  stroke: #EFEFEF;
  stroke-width: 0.5px;
  vector-effect: non-scaling-stroke;
}

.ModulePreview.CommentModule .ModulePreviewBackground {
  fill: #FAE7DD;
}
