@import '@streamr/streamr-layout/pcss/variables.pcss';

.products {
  padding: 2.5em 0.5em;
}

.productsRow {
  margin-top: -1.5em;
  min-height: 100px;

  &.fetching {
    opacity: 0.5;
  }
}

.spinner {
  height: 40px;
  margin: 1.5em 0;
}

@media (--sm-up) {
  .products {
    padding-bottom: 3.5em;
    padding-top: 3.5em;
  }
}
