<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Streamr Hub</title>
        <link
            href="https://streamr.network/resources/favicon-16x16.png"
            rel="icon"
            size="16"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/favicon-32x32.png"
            rel="icon"
            size="32"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/favicon-96x96.png"
            rel="icon"
            size="96"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/apple-icon-57x57.png"
            rel="apple-touch-icon"
            size="57"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/apple-icon-60x60.png"
            rel="apple-touch-icon"
            size="60"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/apple-icon-72x72.png"
            rel="apple-touch-icon"
            size="72"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/apple-icon-76x76.png"
            rel="apple-touch-icon"
            size="76"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/apple-icon-114x114.png"
            rel="apple-touch-icon"
            size="114"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/apple-icon-120x120.png"
            rel="apple-touch-icon"
            size="120"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/apple-icon-144x144.png"
            rel="apple-touch-icon"
            size="144"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/apple-icon-152x152.png"
            rel="apple-touch-icon"
            size="152"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/apple-icon-180x180.png"
            rel="apple-touch-icon"
            size="180"
            type="image/png"
        />
        <link
            href="https://streamr.network/resources/android-icon-192x192.png"
            rel="icon"
            size="192"
            type="image/png"
        />
        <meta name="version" content="<%= version %>" />
        <meta name="commit" content="<%= commitHash %>" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta
            name="msapplication-TileImage"
            content="https://streamr.network/resources/ms-icon-144x144.png"
        />
        <script src="https://polyfill.io/v3/polyfill.min.js"></script>
        <style>
            @-ms-viewport {
                width: device-width;
            }
        </style>
        <% if (gtmId) { %>
        <!-- Google Tag Manager: Data layer -->
        <script>
            window.dataLayer = window.dataLayer || []
        </script>
        <!-- Google Tag Manager -->
        <script>
            ;(function (w, d, s, l, i) {
                w[l] = w[l] || []
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : ''
                j.async = true
                j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
                f.parentNode.insertBefore(j, f)
            })(window, document, 'script', 'dataLayer', '<%= gtmId %>')
        </script>
        <% } %>
    </head>
    <body>
        <% if (gtmId) { %>
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-W9HTMKM"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
        <% } %>
        <div id="root"></div>
        <!-- React root -->
        <div id="modal-root"></div>
        <!-- Modal root -->
    </body>
</html>
