.filterDropdown {
  white-space: nowrap;

  :global(.dropdown-menu) {
    border: none;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    margin: 15px 0 0;
  }

  :global(.dropdown-item:active) {
    background-color: #F7F7F9;
  }

  :global(.dropdown-item.active) {
    color: #0324FF;
    background-color: transparent;
  }

  > a {
    padding: 0 20px 0 0;
    display: inline-block;
  }

  .activeFilter a {
    color: #0324FF;
  }
}
