.root {}

.singleKey + .singleKey {
  margin-top: 2.5rem;
}

@media (--sm-down) {
  .singleKey input {
    font-size: 14px;
  }
}

@media (max-width: 450px) {
  .singleKey input {
    font-size: 12px;
  }
}

@media (max-width: 350px) {
  .singleKey input {
    font-size: 10px;
  }
}
