.longText {
  margin-bottom: 3.125rem;
}

.previewControls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1em;
}

.previewContainer {
  display: none;
  grid-template-rows: 1fr 72px;
  position: relative;
  max-width: 682px;
  margin: 2em 0;
  background-color: #FDFDFD;

  .previewControls {
    .inspectButton {
      margin-left: 1rem;
    }

    .playPauseButton {
    }
  }
}

.hasData {
  display: grid;

  a {
    text-decoration: none;
  }
}
