.buttonContainer {
  text-align: right;

  & > button:not(:first-child) {
    margin-left: 1rem;
  }

  .toggleButton {
    padding: 0 !important;
    margin: 0;

    .icon {
      width: 32px;
      height: 32px;
    }
  }
}
