.canvasDemo {
  img {
    border: none;
  }
}

.AddTramStream {
  max-width: 50%;
}

.moduleBrowser {
  max-width: 50%;
}

.playbackOptions {
  max-width: 30%;
}

.startRealtimeRun {
  max-width: 50%;
}

.startHistoricalRun {
  max-width: 50%;
}

.stopRealtimeRun {
  max-width: 15%;
}

.javaModuleOnCanvas {
  max-width: 80%;

  img {
    border: none;
  }
}
