.green {
  color: var(--greenGoLive);
  background-color: transparent;
}

.grey {
  color: var(--greyDark);
  background-color: transparent;
}

.createProductButton {
  min-width: 6rem;
}

@media (--md-down) {
  .createProductButton {
    display: none;
  }

  :global(html) .corepageContentContainer {
    margin-top: 34px;
  }
}

@media (--sm-down) {
  :global(html) .corepageContentContainer {
    margin-top: 16px;
  }
}
