.dashboardBrowser {
  position: relative;
  max-width: 100vw;
  background-color: #E7E7E7;
}

@media (--xs) {
  .dashboardBrowser {
    margin: 4rem -1.5rem;

    img {
      margin: auto;
    }
  }
}
