.modalTitle {
  h3 {
    margin: 0;
    padding: 24px;
    font-size: 20px;
    line-height: 32px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: normal;
    text-align: center;

    &:empty {
      display: none;
    }
  }

  hr {
    margin: 0;
  }
}
