.bell {
    vertical-align: text-bottom;
}

.activityCircle {
    background: black;
    border-radius: 50%;
    display: none;
    height: 8px;
    position: absolute;
    right: 0;
    top: -24%;
    width: 8px;
}

.pending,
.complete {
    display: block;
}

.pending {
    background-color: #ff5c00;
}

.complete {
    background-color: #2ac437;
}
