.confirm {
  font-size: 12px;
  margin-top: 30px;
  display: flex;
  align-items: center;

  input {
    margin-right: 5px;
  }

  a,
  a:hover,
  a:active,
  a:visited {
    color: inherit;
    text-decoration: underline;
  }
}
