.container {
  width: 100%;
}

.buttons {
  padding: 20px 0;
}

.errors {
  float: left;
  padding: 20px 0;
  line-height: 40px;
  color: #FF0F2D;
}

.withErrors {
  float: right;
}

.errorIcon {
  display: inline-flex;
  vertical-align: middle;
  padding-right: 1em;
}
