@import 'variables.pcss';

.section {
  margin-bottom: 5.5rem;
}

.title {
  color: var(--greyDark);
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0;
  line-height: 24px;
  border-bottom: 2px solid #D8D8D8;
  margin-bottom: 2.6rem;
  padding-bottom: 1.2rem;
}
