.input {
  width: 32px !important;
  color: transparent !important;
  text-shadow: 0 0 0 white !important;
  cursor: pointer !important;
}

.popover {
  position: absolute;
  z-index: 2;
}
