.container {
  line-height: 28px;
  display: flex;
  align-items: center;
}

.title {
  font-size: 14px;
  line-height: 20px;
}

.icon {
  margin-right: 16px;
}

.iconSize {
  width: 20px;
  height: 20px;
}
