.loadingIndicator {
  top: 2px;
}

.contentArea {
  padding-top: 1px;
}

.graphs {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1px;
  margin-top: 1px;
}

.statBox,
.memberCount,
.graphBox {
  background-color: #FFFFFF;
  border-radius: 4px;
  padding: 2.5rem;
}

@media (--md-up) {
  .contentArea {
    padding-top: 1.5rem;
  }

  .graphs {
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
  }
}
