.loadingIndicator {
  top: 2px;
}

.contentArea {
  padding-top: 1.5rem;
}

.statBox {
  background: white;
  border-radius: 4px;
  padding: 2.5rem;
}

.graphs {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1.5rem;
}

.graphBox {
  display: grid;
  background: white;
  border-radius: 4px;
  padding: 1.5rem 2.5rem;
}

.graph {
  height: 300px;
}

.searchPlaceholder {
  width: var(--um);
}
