.upload {
  color: #323232;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 1em;
}

.uploadHelpText {
  margin-top: 1rem;
}

.updateButton {
  font-weight: var(--regular);
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: capitalize;
  width: 80px;
  height: 32px;
  border: 1px solid #525252;
  border-radius: 4px;
  color: #525252;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 20px;
}
