.dialogContent {
  position: relative;
}

.icon {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 85px;
}

.text {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
