.accountCircle {
  background-color: #FFFFFF;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: var(--medium);
  text-align: center;
  line-height: 3em;
  height: 3em;
  width: 3em;
}

.profileEmptyIcon {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.inner {
  font-size: 1.125em;
}

@media (--md-up) {
  .accountCircle {
    height: 2.5em;
    line-height: 2.5em;
    margin: 0;
    width: 2.5em;
  }
}
