.root {
  height: var(--um);
  position: relative;
}

.select,
.select > select {
  height: 100%;
}

.select > select {
  border-radius: calc(0.125 * var(--um));
  box-shadow: inset 0 0 0 1px #CDCDCD;
  color: #323232;
  font-size: calc(0.625 * var(--um));
  line-height: 1em;
  padding: 0 calc(1.3125 * var(--um)) 0 calc(0.5 * var(--um));
}

.caret {
  position: absolute;
  right: calc(0.3125 * var(--um));
  top: 50%;
  transform: translateY(-50%);
  width: calc(0.375 * var(--um));
}
