.root {
  height: var(--um);
  position: relative;
}

.select,
.select > select {
  height: 100%;
}

.select > select {
  border-radius: 0.125um;
  box-shadow: inset 0 0 0 1px #CDCDCD;
  color: #323232;
  font-size: 0.625um;
  line-height: 1em;
  padding: 0 1.3125um 0 0.5um;
}

.caret {
  position: absolute;
  right: 0.3125um;
  top: 50%;
  transform: translateY(-50%);
  width: 0.375um;
}
