/* stylelint-disable no-descending-specificity */
.keyList {
  margin-bottom: 2rem;
}

.singleKey {
  margin-top: 3rem;
}

.addKey {
}

@media (--md-down) {
  .singleKey {
    :global(.dropdown) {
      display: none;
    }
  }
}
