/* stylelint-disable no-descending-specificity */
.keyList {
  margin-bottom: 2rem;
  max-width: 682px;
}

.singleKey {
  margin-top: 3rem;

  &.firstKey {
    margin-top: 0;
  }
}

.addKey {
}

.permissionColHeading {
  font-size: 12px;
  font-family: var(--sans);
  letter-spacing: 0;
  line-height: 20px;
}
