:global {
  h3 {
    color: var(--greyDark);
    font-weight: var(--semiBold);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;

    @media (--lg-up) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 24px;
    }
  }
}
