:global {
  .container-fluid {
    max-width: 2400px;
  }

  section {
    z-index: initial;
  }

  body {
    &.overflow-hidden {
      overflow: hidden !important;
      overflow-y: hidden !important;
      overflow-x: hidden !important;
    }

    a {
      text-decoration: none;
    }
  }

  p a {
    text-decoration: underline;
  }

  table {
    th,
    td {
      height: 56px;
    }
  }
}
