@import '@streamr/streamr-layout/pcss/variables.pcss';
@import '@streamr/streamr-layout/pcss/selectors.pcss';

.textToggle {
  &,
  &:--idle,
  &:--enter {
    color: var(--greyDark);
    outline: 0;
    text-decoration: none;
  }

  &:--enter {
    color: var(--blue);
  }
}

.caret {
  margin-left: 0.35em;
}
