:global {
  .container-fluid {
    max-width: 2400px;
  }

  section {
    z-index: initial;
  }

  body {
    &.overflow-hidden {
      overflow: hidden;
    }

    a {
      text-decoration: none;
    }
  }

  p {
    a {
      text-decoration: underline;
      color: var(--streamrBlue);
      font-weight: inherit;

      &:hover {
        color: var(--blueDark6);
      }
    }
  }

  table {
    th,
    td {
      height: 56px;
    }
  }
}
