@import '../../shared/components/variables.pcss';

body :global(.react-grid-item.react-grid-placeholder) {
  background: #323232;
  opacity: 0.25;
  border-radius: 4px;
}

.DashboardElements {
  /* required to hook into canvasElements */
}

.dashboardItem {
  height: 100%;
  width: 100%;
}

.dashboardModuleUI {
  overflow: auto;
}

.isInactive {
  background: #F8F8F8;
}

.header {
  border-bottom: 1px solid #EFEFEF;
}
