@import '@streamr/streamr-layout/pcss/variables.pcss';

.accountPageHero {
  padding-top: 23px;
}

.tabBar {
  padding-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

@media (--md-up) {
  .accountPageHero {
    padding-top: 42px;
  }
}

@media (--xl) {
  .accountPageHero {
    padding-top: 82px;
    padding-bottom: 54px;
  }
}