@import '@streamr/streamr-layout/pcss/variables.pcss';


.details {
    padding: 3em 0;
    font-size: 22px;
}

.activeTag {
    display: inline-block;
    color: var(--white);
    background-color: var(--orange);
    font-size: 0.75rem;
    line-height: 1rem;
    padding: 2px 4px;
    border-radius: 2px;
}

.section {
    border-bottom:1px solid gray;
}
.separator {
      margin: 0 16px;
}
.paymentRate {
    display:inline-block;
}