@import 'variables.pcss';

.dropdownItem {
  font-size: 20px;
  line-height: 2em;
  padding: 0 1.6em;
}

.secondary {
  color: var(--greyLight);
}

@media (--md-up) {
  .dropdownItem {
    font-size: 16px;
  }
}
