.helpIcon {
  appearance: none;
  border: none;
  padding: 0;
  display: inline-flex;
  vertical-align: middle;
  margin-left: 10px;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
