@import 'variables.pcss';

.datePicker {
  display: inline-block;
  width: 100%;
  position: relative;

  &:focus {
    outline: none;
  }

  &:--enter .calendarIcon {
    stroke: var(--greyDark);
  }

  .calendarContainer {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &.open .calendarIcon {
    stroke: var(--blue);
  }
}

.input {
  max-width: initial;
  width: 100%;
}
