.Badge {
  display: inline-block;
  white-space: nowrap;
}

.Badge + .Badge {
  margin-left: 0.5rem;
}

.badgeIcon {
  height: 12px;
  width: auto;
  margin-right: 0.5rem;
  margin-top: -2px;
}

.badgeValue {
}
