.errorIcon {
  width: 40px;
  height: 40px;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.dialog {
  width: 528px;
}

.content {
  padding: 0;
}

.footer {
  display: flex;
  padding: 0 37px;
  align-items: center;
}

.copyLink {
  flex: 1;
  text-align: left;
}
