.root {
  display: block;
  font-size: var(--um);
  height: 1.5em;
  width: 1.5em;
}

.root svg {
  display: block;
  height: 100%;
  width: 100%;
}

@media (--md-up) {
  .root {
    height: 2em;
    width: 2em;
  }
}

@media (--lg-up) {
  .root {
    height: 2.5em;
    width: 2.5em;
  }
}
