.root {
  color: #323232;
}

.priceControls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.disabled {
  user-select: none;
}

.input {
  flex: 1;
  max-width: 240px;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  align-self: center;
  margin: 0 1rem;
  color: #A3A3A3;

  &:hover {
    color: #0324FF;
  }

  &:active {
    color: #09006D;
  }
}

.per {
  padding: 0 1rem;
}

.select {
  min-width: 130px;
  text-transform: capitalize;
}
