/* TODO(Mariusz): It should be the main file for toolbar's CSS. And
   we do have 2 toolbars atm: Canvas, Dashboard. Can they be 1? */

.entityName {
  color: #525252;
  font-size: 14px;
  font-weight: var(--medium);
  max-width: 200px;
}
