.root {
  &,
  &:link,
  &:active,
  &:focus,
  &:hover,
  &:visited {
    color: inherit;
    outline: 0;
    text-decoration: none;
  }
}

.decorated {
  &,
  &:link,
  &:active,
  &:focus,
  &:hover,
  &:visited {
    text-decoration: underline;
  }
}
