.root {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #525252;
  height: 24px;
  color: #525252;
  font-family: var(--sans);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: center;
  padding: 1px 8px;
}

.expiringSoon {
  color: #FF5C00;
  border: 1px solid #FF5C00;
}

.expired {
  color: #FB0606;
  border: 1px solid #FB0606;
}
