.editor {
  background-color: #D8D8D8;

  &[disabled] {
    filter: alpha(opacity=50);
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.slider {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  width: 232px;
}
