:root {
  --buttonHoverAnimationTime: 0.3s;
  --buttonAnimationTimeFunction: ease-in-out;
  --buttonhoverAnimationAngle: 30deg;
}

@keyframes buttonAnimationIn {
  to {
    width: 150%;
  }
}

@keyframes buttonAnimationOut {
  to {
    width: 150%;
  }
}
