@import '@streamr/streamr-layout/pcss/variables.pcss';

/* TODO: wrap with local classname */
:global(.dropdown-menu) {
  :global(.dropdown-item) {
    &.secondary {
      color: #ADADAD;
    }
  }
}

@media (--sm-down) {
  .dropdownItem {
    font-size: 20px;
    line-height: 40px;
    padding: 0 32px;
  }
}
