.editor {
    input {
        max-width: 100%;
    }
}

.timeUnits {
    display: table-row;
}

.timeUnit {
    display: table-cell;
    width: 1%;

    > button {
        width: 100%;
    }
}

.timeUnit + .timeUnit {
    padding-left: 1%;
}

.activeTimeUnit button {
    border: 1px solid black;
}
