.buttons {
  justify-content: center;
}

.saveButton {
  &:global(.btn),
  &:global(.btn-primary) {
    background-color: #FF0F2D;

    &:hover,
    &:focus {
      background-color: #EA112C;
    }

    &:active {
      background-color: #D50F28 !important;
    }

    &[disabled] {
      background-color: #FF0F2D !important;
      color: #FFFFFF !important;
    }
  }
}
