.root {
  position: relative;
}

.root select {
  appearance: none;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.control {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.spaceholder {
  visibility: hidden;
}
