.input {
  font-size: 1rem;
}

.control {
  min-height: calc(2.5rem - 2px) !important;
}

.withFocus {
  border: 1px solid #0324FF;
}

.withError {
  &:not(.withFocus) {
    border: 1px solid #FF5C00;
  }
}
