.input {
  font-size: 1rem;

  &:focus-within {
    border: 1px solid #0324FF !important;
  }
}

.control {
  min-height: calc(2.5rem - 2px) !important;
}

.withError {
  border: 1px solid #FF5C00;
}
