:global {
  .btn-special {
    font-size: 1rem;
    line-height: 2.5em;
    background-color: #FCFBF9;
    display: inline-block;
    box-shadow: 0 0 3px rgba(0,0,0,0.15);
    border-radius: 20px;
    padding: 0 1.25em;
    color: inherit;
    text-decoration: none;
    &:hover {
        color: inherit;
        text-decoration: none;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
    }
  }
}
