@import 'variables.pcss';

.streamShowView {
  position: relative;
  color: var(--greyDark);
  font-size: 14px;
  padding-bottom: 3em;

  @media (--lg-up) {
    top: -7.4em;
    z-index: 11;
  }

  @media (--xs) {
    top: auto;
  }
}

.longText {
  line-height: 20px;
  max-width: 488px;
}
