@media (--md-down) {
  .createDashboardButton {
    display: none;
  }

  :global(html) .corepageContentContainer {
    margin-top: 34px;
  }
}

@media (--sm-down) {
  :global(html) .corepageContentContainer {
    margin-top: 16px;
  }
}
