.layout {
  color: var(--greyDark);
  background-color: var(--greyLight3);
}

.root {
  padding: 3.75rem 0 8.1235rem;
  min-height: 100vh;
}

.container {
}

.editor {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-column-gap: 2.25rem;
}
