.root {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 400px;
  background: #FFFFFF;
  border: 1px solid red;
  padding: 5px;
}

.productData {
  font-size: 10px;
  line-height: 12px;
  max-height: 300px;
  overflow: auto;
}
