.root {
  background: none;
}

.ProductName {}

.input {
  width: 100%;
  background: white;
  border-radius: 4px;
  border: 1px solid #EFEFEF;
  padding: 1rem 1.5rem;
  outline: none;
  box-shadow: none;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.5rem;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: #A3A3A3;
  }
}
