.tooltipContainer {
  display: inline-block;
}

.tooltip {
  padding: 6px 8px;
  background-color: #323232 !important;
  border-radius: 2px;
  color: #EFEFEF !important;
  font-family: var(--sans);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
}
