@import '../../variables.pcss';

.directory {
  display: none;
  padding: 3em 0;
}

.inner {
  display: flex;
  justify-content: space-between;
}

@media (--sm-up) {
  .directory {
    display: block;
  }
}

@media (--md-up) {
  .directory {
    padding: 4em 0;
  }
}

@media (--lg-up) {
  .directory {
    padding: 5em 0;
  }
}

@media (--xl) {
  .directory {
    padding: 6em 0;
  }
}
