.root {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: calc(1.25 * var(--um)) var(--um);
}

.root > div {
  align-items: center;
  display: flex;
  height: calc(1.5 * var(--um));
}
