.outer {
    stroke: #e7e7e7;
    fill: #f8f8f8;
}

.outerActive {
    stroke: #0324ff;
}

.outerError {
    stroke: #ff5c00;
}

.inner {
    fill: #e7e7e7;
    stroke: none;
}

.innerActive {
    fill: #0324ff;
}

.innerError {
    fill: #ff5c00;
}
