.outer {
  stroke: #E7E7E7;
  fill: #F8F8F8;
}

.outerActive {
  stroke: #0324FF;
}

.outerError {
  stroke: #FF5C00;
}

.inner {
  fill: #E7E7E7;
  stroke: none;
}

.innerActive {
  fill: #0324FF;
}

.innerError {
  fill: #FF5C00;
}
