# This file works as a reference for all possible env variable values in Webpack
# THE VALUES SET HERE WILL BE OVERWRITTEN WITH NULL.
# If you want to set the default values (which are also required to be defined in production) use .dotenv.required instead

PORT=
PLATFORM_ORIGIN_URL=
STREAMR_API_URL=
STREAMR_WS_URL=
STREAMR_ENGINE_NODE_ADDRESSES=
STREAMR_URL=
GOOGLE_ANALYTICS_ID=
MARKETPLACE_CONTRACT_ADDRESS=
DATA_TOKEN_CONTRACT_ADDRESS=
DAI_TOKEN_CONTRACT_ADDRESS=
WEB3_REQUIRED_NETWORK_ID=
WEB3_PUBLIC_HTTP_PROVIDER=
WEB3_PUBLIC_WS_PROVIDER=
WEB3_TRANSACTION_CONFIRMATION_BLOCKS=
SENTRY_DSN=
SENTRY_INDEXER_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
LOGROCKET_SLUG=
PLATFORM_PUBLIC_PATH=
UNISWAP_ADAPTOR_CONTRACT_ADDRESS=
STORAGE_NODES=
DATA_UNION_FACTORY_MAINNET_ADDRESS=
DATA_UNION_TEMPLATE_MAINNET_ADDRESS=
DATA_UNION_SIDECHAIN_PROVIDER=
DATA_UNION_SIDECHAIN_ID=
DATA_UNION_FACTORY_SIDECHAIN_ADDRESS=
DATA_UNION_TEMPLATE_SIDECHAIN_ADDRESS=
