# This file works as a reference for all possible env variable values in Webpack
# THE VALUES SET HERE WILL BE OVERWRITTEN WITH NULL.
# If you want to set the default values (which are also required to be defined in production) use .dotenv.required instead

DAI_TOKEN_CONTRACT_ADDRESS=
DATA_TOKEN_CONTRACT_ADDRESS=
DATA_TOKEN_SIDECHAIN_ADDRESS=
DATA_UNION_BLOCK_FREEZE_PERIOD_SECONDS=
DATA_UNION_FACTORY_MAINNET_ADDRESS=
DATA_UNION_FACTORY_SIDECHAIN_ADDRESS=
DATA_UNION_FACTORY_SIDECHAIN_CREATION_BLOCK=
DATA_UNION_OPERATOR_ADDRESS=
DATA_UNION_PUBLISH_MEMBER_LIMIT=
DATA_UNION_TEMPLATE_MAINNET_ADDRESS=
DATA_UNION_TEMPLATE_SIDECHAIN_ADDRESS=
DATAUNIONS_CHAIN_ID=
DATAUNIONS_HTTP_PROVIDER=
MAINNET_CHAIN_ID=
MAINNET_HTTP_PROVIDER=
MARKETPLACE_CONTRACT_ADDRESS=
STORAGE_NODE_REGISTRY_CONTRACT_ADDRESS=
PLATFORM_ORIGIN_URL=
PORT=
SENTRY_ORG=
SENTRY_PROJECT=
STORAGE_NODES=
STREAM_REGISTRY_CONTRACT_ADDRESS=
STREAM_STORAGE_REGISTRY_CONTRACT_ADDRESS=
STREAMR_API_URL=
STREAMR_ENGINE_NODE_ADDRESSES=
STREAMR_URL=
STREAMR_WS_URL=
STREAMS_CHAIN_ID=
STREAMS_HTTP_PROVIDER=
THE_GRAPH_URL=
UNISWAP_ADAPTOR_CONTRACT_ADDRESS=
WEB3_TRANSACTION_CONFIRMATION_BLOCKS=