# IntelliJ files
.idea
*.iml

# VsCode files
.vscode

# macOS operating system
.DS_Store

node_modules
dist
.env
build

# Test coverage report
coverage

# storybook
storybook-static
.cache

# cypress
cypress/fixtures/example.json

