{
    "ignoreFiles": [
        "**/*.jsx"
    ],
    "extends": [
        "stylelint-config-streamr"
    ],
    "rules": {
        "unit-no-unknown": [
            true,
            {
                "ignoreUnits": [
                    "um"
                ]
            }
        ]
    }
}
