.buttons {
  display: flex;
  justify-content: flex-end;

  /* prevents border rendering glitches in chrome */
  transform: translate3d(0, 0, 0);
}

.buttons:empty {
  display: none;
}

.buttons > * {
  padding-right: 15px;
  padding-left: 15px;
  min-width: 7rem;
}

.buttons > * + * {
  margin-left: 1rem;
}
