.CanvasToolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5F5F5;
    padding: 20px 60px;
}

.CanvasToolbar > * {
    display: flex;
    align-items: center;
}

.Hollow,
.Hollow:active,
.Hollow:focus,
.Hollow:hover {
    /* For no border/background buttons. */
    border: none;
    background: transparent;
    box-shadow: transparent;
}

.ShareButton {
    font-size: 2em;
    padding: 0;
}
