.editor {
  flex: 1;
  display: flex;

  .dropdownShareButton {
  }

  .dropdownDeleteButton {
  }

  :global(.fullscreen) {
    flex: 1;
    display: flex;
    background: #F6F6F6;
  }

  .wrapper {
    background: #F6F6F6;
    flex: 1;
  }
}
