.container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr calc(2.5 * var(--um));
  grid-column-gap: 1rem;
}

.input {
  width: 100%;
  padding: 0.625rem 0;
  margin-right: 1rem;
}

.button {
  display: flex;
  align-self: center;
  width: calc(2.5 * var(--um));
  height: calc(2.5 * var(--um));
}

.plusIcon {
  height: 8px;
  width: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
