.select {
  border: 1px solid #D8D8D8;
  border-radius: 4px;
  font-size: 14px;
}

.paddedSelect {
  top: 0.5rem;
}

.tick {
  width: 10px;
  height: 8px;
  position: absolute;
  top: 50%;
  left: 1.1rem;
  transform: translate(-50%, -50%);
}

.caret {
  width: 10px;
  height: 8px;
}
