@import '@streamr/streamr-layout/pcss/variables.pcss';

.errorPageView {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  color: var(--greyDark);
  text-align: center;
  font-size: 1em;
  line-height: 1.5em;
  max-width: 800px;
  align-self: center;
}
