.hero {
  background: var(--greyLight3);
  padding: 2.5em 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1.75rem;
  grid-column-gap: 4rem;
}

@media (--sm-up) and (--lg-down) {
  .container {
    max-width: 624px;
  }
}

@media (--md-up) {
  .container {
  }
}

@media (--lg-up) {
  .hero {
    padding: 4em 0;
  }
}

@media (--xl) {
  .container {
    grid-template-columns: 480px 1fr;
  }
}
