.noProductsView {
    text-align:center;
}
.content {
    line-height: 1.375em;
    font-size:2em;
    * {
        /*
         * TODO: need to be fixed when colors are fixed in streamr-layout
         */
        color: #333;
    }
    p {
        margin:0;
    }
}
.spacing {
    margin-top: 2.8125em;
    margin-bottom: 3.8125em;
}
.img {
    height:25rem;
}