.root {

}

.scaleLayer {
  transform-origin: 0 0;
  will-change: transform;
}

.root,
.scaleLayer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.cameraControl {
  /* use this to flag elements we should receive interaction events from */
}

.noCameraControl {
  /* use this to flag elements we should NOT receive interaction events from */
}
