.root {
  outline: none;
  background: transparent;
  border: none;
  color: rgb(3, 36, 255);
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 2.5rem;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}
