.root {
  outline: none;
  background: transparent;
  border: none;
  color: rgb(3, 36, 255);
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 2.5rem;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

.copied {
  color: rgb(19, 1, 61);
}

.tick {
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
  padding-bottom: 2px;
}
