@import '../../variables.pcss';

.divider {
  clear: both;
  padding: 1em 15px;

  &::after {
    background: #EAEAEA;
    content: '';
    display: block;
    height: 1px;
  }
}

@media (--md-up) {
  .divider + li {
    margin-left: 1.5em;
  }
}
