@import '@streamr/streamr-layout/pcss/variables.pcss';

.icon {
  margin: 20px 0 40px;
}

.buttonContainer {
  display: flex;
  margin-top: 42px;
}

@media (--xs) {
  .icon {
    margin: 0 0 10px;
  }

  .buttonContainer {
    margin-top: 15px;
    flex-direction: column;
  }
}
