.productPage {
  color: black;
  padding-bottom: 3em;
  background-color: white;
  z-index: 12;
  top: -4em;
  position: relative;

  @media (--md-up) {
    top: -5em;
  }

  h1,
  h2 {
    margin: 0;
  }
}

.section {
  margin-top: 3em;
}
