.root {}

.ConfirmDeployDataUnionDialog {}

.content {
  padding: 0;
  border-bottom: 0;
}

.footer {
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

.footerText {
  flex: 1;
  text-align: left;
  color: #525252;
  font-family: var(--sans);
  font-size: 0.875rem;
  letter-spacing: 0;
  line-height: 1rem;

  a,
  a:hover,
  a:active,
  a:focus,
  a:visited {
    color: #0324FF;
    text-decoration: none;
  }
}

.previewImage {
  border-bottom: 1px solid #F2F1F1;
  width: 100%;
}
