.root {
  border: 0;
  box-sizing: content-box;
  color: var(--greyDark);
  display: block;
  font-size: 16px;
  height: 1rem;
  line-height: 1rem;
  outline: 0;
  padding: 0.75rem 0;
  width: 100%;
  background-color: inherit;
}

.root::placeholder {
  font-size: inherit;
  opacity: 0;
  padding-left: 0;
  transition: opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #A3A3A3;
}

.root:focus::placeholder {
  opacity: 1;
}
