@import '@streamr/streamr-layout/pcss/variables.pcss';

.panel {
  background-color: var(--greyLight3);
  margin-bottom: 40px !important; /* overriding streamrlayout for now TODO: Fix when global styles are updated */
  padding: 20px !important; /* overriding streamrlayout for now TODO: Fix when global styles are updated */
}

.flexcontainer {
  display: flex;
  flex-wrap: wrap;
}
