.pageTitle {
  color: var(--greyDark);
  font-size: 2.2rem;
  font-weight: var(--regular);
  letter-spacing: 0;
  line-height: 1.5rem;
  margin: 3rem 0 0;
}

@media (--md-down) {
  .tocList {
    margin: 12px 2em 1em 0;
    top: 1.5em;
  }

  .pageTitle {
    display: none;
  }
}

@media (--md-down) {
  .root {
    display: block;
  }

  .tocList {
    display: none;
  }
}
