.editor {
    flex: 1;
    display: flex;

    .dropdownShareButton {}
    .dropdownDeleteButton {}

    :global(.fullscreen) {
        flex: 1;
        display: flex;
        background: #f6f6f6;
    }
    .wrapper {
        background: #f6f6f6;
        flex: 1;
    }
}
