.paymentRate {
    font-size: 2em;
    padding: 2em 0;
    text-align: center;
}

.paymentRateEditor {
    border-top: 1px solid #e7e7e7;
    padding: 3em 0;
}

.dialog {
    text-align: left;
}

.addresses {
    padding: 3em 0 2em;
}

.backdrop {
    background-color: white;
}
