@import '../../variables.pcss';

@media (--sm-down) {
  .item {
    float: left;
    width: 50%;
  }
}

@media (--md-up) {
  .item {
    display: inline-block;
    padding: 0;
    vertical-align: top;
  }

  .item + .item {
    margin-left: 1.5em;
  }

  .outline {
    padding: 0.25em 0;
  }
}
