.root::before {
  background-color: #FF5C00;
  content: '';
  font-size: var(--um);
  height: 0.125em;
  left: initial;
  position: absolute;
  right: 0;
  bottom: 0.125em;
  transition: width 0.2s ease-out;
  width: 0;
}

.parent {
  position: relative;
}

.parent:--enter .root::before {
  left: 0;
  transition: width 0.2s ease-in, right 0s 0.15s;
  width: 100%;
}
