.root {}

.DeployingDataUnionDialog {}

.content {
  padding: 3rem 1rem 2rem;
  padding-bottom: calc(2rem + 3px);
}

.spinner {
  width: 160px;
  height: 160px;
}

.description {
  margin-top: 4rem;
  line-height: 1.5rem;
  font-size: 1rem;
}
