.container {
  width: 100%;
  text-align: left;
}

.content {
  padding: 24px 37px;
}

.footer {
  display: flex;
  padding: 20px 37px;
  align-items: center;
}

.copyLink {
  flex: 1;
  text-align: left;
}
