.root {
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;

  :global(.constrainInputWidth) {}

  @media (--sm-up) {
    max-width: 540px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media (--md-up) {
    max-width: 720px;
  }

  @media (--lg-up) {
    max-width: 800px;
  }

  @media (--xl) {
    max-width: 980px;

    :global(.constrainInputWidth) {
      max-width: 536px;
    }
  }
}

.DetailsContainer {}
