@import 'variables.pcss';

.button {
  margin-top: 1.5rem;
  width: 176px;
  font-size: 16px;
  font-weight: var(--regular);
  font-family: 'IBM Plex Sans', sans-serif;
  text-transform: inherit;
  letter-spacing: 0;
}
