<!DOCTYPE html>
<% const title = 'Streamr Core' %>
<% const description = 'Data done differently' %>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link href="https://streamr.network/resources/favicon-16x16.png" rel="icon" size="16" type="image/png">
    <link href="https://streamr.network/resources/favicon-32x32.png" rel="icon" size="32" type="image/png">
    <link href="https://streamr.network/resources/favicon-96x96.png" rel="icon" size="96" type="image/png">
    <link href="https://streamr.network/resources/apple-icon-57x57.png" rel="apple-touch-icon" size="57" type="image/png">
    <link href="https://streamr.network/resources/apple-icon-60x60.png" rel="apple-touch-icon" size="60" type="image/png">
    <link href="https://streamr.network/resources/apple-icon-72x72.png" rel="apple-touch-icon" size="72" type="image/png">
    <link href="https://streamr.network/resources/apple-icon-76x76.png" rel="apple-touch-icon" size="76" type="image/png">
    <link href="https://streamr.network/resources/apple-icon-114x114.png" rel="apple-touch-icon" size="114" type="image/png">
    <link href="https://streamr.network/resources/apple-icon-120x120.png" rel="apple-touch-icon" size="120" type="image/png">
    <link href="https://streamr.network/resources/apple-icon-144x144.png" rel="apple-touch-icon" size="144" type="image/png">
    <link href="https://streamr.network/resources/apple-icon-152x152.png" rel="apple-touch-icon" size="152" type="image/png">
    <link href="https://streamr.network/resources/apple-icon-180x180.png" rel="apple-touch-icon" size="180" type="image/png">
    <link href="https://streamr.network/resources/android-icon-192x192.png" rel="icon" size="192" type="image/png">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%= description %>">
    <meta property="og:title" content="<%= title %>">
    <meta property="og:description" content="<%= description %>">
    <meta property="og:image" content="https://streamr.network/resources/social.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">
    <meta name="twitter:image" content="https://streamr.network/resources/social.jpg">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://streamr.network/resources/ms-icon-144x144.png">
    <script src="https://cdn.polyfill.io/v3/polyfill.min.js"></script>
    <style>@-ms-viewport { width: device-width; }</style>
</head>
<body>
    <%/*
        Global site tag (gtag.js) - Google Analytics
        Is added here so that it can be read without rendering js on the page.
        We also set 'send_page_view': false so that the initial page load wouldn't send page view, otherwise it would get sent twice
    */%>
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= gaId %>"></script>
    <script>
        window.ga=window.ga||function(){ (ga.q=ga.q||[]).push(arguments)};ga.l=+new Date
        window.dataLayer = window.dataLayer || []
        function gtag(){dataLayer.push(arguments)}
        gtag('js', new Date())
        gtag('config', '<%= gaId %>', {
            'send_page_view': false,
        })
    </script>
    <div id="root"></div> <!-- React root -->
    <div id="modal-root"></div> <!-- Modal root -->
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600|IBM+Plex+Sans:200,300,400,400i,500,500i,600,700&display=swap" rel="stylesheet">
</body>
</html>
