<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" data-react-helmet="true">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Streamr Marketplace</title>
</head>
<body>
    <div id="root"></div>
</body>
</html>
