.root {
  background-color: #97BAC0;
  color: white;
  font-family: var(--mono);
  position: relative;
}

.value {
  position: absolute;
  text-align: center;
  transform: translateY(-50%);
  top: 50%;
  width: 100%;
}
