.container {
  display: flex;
}

.avatarLink {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.avatarCircle {
  margin-right: 2rem;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 2em;
}
