.centerButtons {
  justify-content: center;
}

.footer {
  padding: 1.5um;
  border-top: 1px solid #F2F1F1;
}

.dontShowAgainFooter {
  display: flex;
  align-items: center;
}

.dontShowAgain {
  flex: 1;
  text-align: left;
}

.formGroup {
  padding: 0;
}

.label {
  font-size: 0.9em;

  & > input {
    top: 3px;
  }
}
