.centerButtons {
  justify-content: center;
}

.footer {
  padding: 0 37px;
  display: flex;
  align-items: center;
}

.downShowAgain {
  flex: 1;
  text-align: left;
}

.formGroup {
  padding: 0;
}

.label {
  font-size: 0.9em;

  & > input {
    top: 3px;
  }
}
