.errorMessageWrapper {
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.errorOverlay {
  pointer-events: none;
  transition: opacity 400ms ease;
  position: absolute;
  content: ' ';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 0;
  opacity: 0;
}

.errorOverlay.errorOverlayVisible {
  pointer-events: auto;
  opacity: 0.5;
}
