.memberContainer {
  display: inline-block;
}

.statHeading {
  font-family: var(--sans);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.memberHeadingContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 1rem;

  .statHeading {
    align-self: center;
  }
}

.memberGraphDropdown {
  text-align: right;
  margin-bottom: 0.5rem;

  & > button {
    height: 24px;
  }
}
