:root {
  --fontSize: 1rem;
  --mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  --sans: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --um: 16px; /* Wishful thinking: Future 1rem? — Mariusz */

  /* Colors */
  --white: #FFFFFF;
  --orangeOld: #E9570F;
  --orange: #FF5C00;
  --orangeDark: #E9570F;
  --blueLight: #CCE9FD;
  --streamrBlue: #0324FF;
  --blue2: #37A0E9;
  --blueDark: #28026B;
  --blueDark2: #1B0157;
  --blueDark3: #13013D;
  --blueDark4: #36049D;
  --blueDark5: #33037F;
  --blueDark6: #0D009A;
  --blueDark7: #1D004E;
  --blueDark8: #010002;
  --blueDark9: #09006D;
  --greenGoLive: #2AC437;
  --greyLight: #ADADAD;
  --greyLight2: #CECECE;
  --greyLight3: #F8F8F8;
  --greyLight4: #F5F5F5;
  --greyLight5: #A1A1A1;
  --grey: #D3D3D3;
  --grey2: #ADADAD;
  --grey3: #C3C3C3;
  --grey4: #E7E7E7;
  --greyDark: #323232;
  --greyDark2: #525252;
  --purpleLight: #9173FF;
  --purpleLight2: #D4B8FF;
  --purple: #7549D9;
  --purple2: #6240AF;
  --purpleDark: #53407F;
  --purpleDark2: #3C00A3;
  --purpleDark3: #0D002B;
  --purpleDark4: #4A3086;

  /* Font weights */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;

  /* shared vars */
  --nav-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
}

@custom-selector :--enter :hover, :focus, :global(.active);
@custom-selector :--idle :active, :visited;
