.root {
  appearance: none;
  background-color: transparent;
  border: 0;
  bottom: 0;
  cursor: nwse-resize;
  display: block;
  height: var(--um);
  outline: 0 !important;
  position: absolute;
  right: 0;
  width: var(--um);
}

.resizing {
  cursor: nwse-resize;
  user-select: none;
}
