.confirm {
    font-size: 12px;
    margin-top: 30px;
    input {
        font-size: 16px;
        position: initial;
        margin-right: 14px;
    }
    a,
    a:hover,
    a:active,
    a:visited {
        color: inherit;
        text-decoration: underline;
    }
}
