.termsWrapper {
  font-size: 0.75em;
  padding: 1.375em 0 0.5em;
}

.checkboxWrapper {
  align-items: center;
  display: flex;
}

@media (--md-up) {
  .termsWrapper {
    padding: 2.375em 0 1.5em;
  }
}
