.table {
  margin-top: 1rem;
  width: 100%;
  border-collapse: collapse;
}

.table th {
  font-weight: bold;
}

.table th,
.table td {
  border: #DDDDDD solid 1px;
  padding: 0.5em;
}

.table th:last-child {
  border-left: none;
}

.table th:nth-last-child(2) {
  border-right: none;
}

.table thead tr,
.table tr:nth-child(even) {
  background: #F9F9F9;
}

.table .empty td {
  text-align: center;
  padding: 2rem 0;
  font-style: italic;
}
