.root {
  align-items: flex-start;
  display: flex;
  transition: opacity 0.05s;
}

.root:not(.dragInProgress):hover .portOption {
  opacity: 1;
  pointer-events: all;
}

.spaceholder {
  flex-grow: 1;
}

.isInvisible {
  opacity: 0;
  pointer-events: none;
}
