.icon {
  margin: 0.5rem 0 1.5rem;
}

.content {
  padding: 1rem 2rem;
}

.footer {
  border-top: 1px solid #F2F1F1;
  padding: 1.5um;
  display: flex;
  align-items: center;
}

.footerText {
  flex: 1;
  text-align: left;
  justify-content: flex-start;
}
