.root {}

.KeyField {}

.keyFieldContainer {
  position: relative;
}

.labelWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyNameHolder {
  left: 0;
  max-width: 100%;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
}

.label {
  flex-grow: 1;
  margin-right: 0.5um;
  position: relative;
}

.status {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}
