.container {
  position: relative;
}

.withMenu {
  z-index: 2;
}

.offsetColOverride {
  z-index: -1;
}

.permissionDropdownContainer {
  position: absolute;
  bottom: 0;
  right: 0;
}

.select {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}
