.running {
  color: var(--greenGoLive);
}

.stopped {
  color: #323232;
}

.PreviewImage {
  width: 100%;
  height: auto;
}

@media (--md-down) {
  .createCanvasButton {
    display: none;
  }
}

@media (--md-down) {
  :global(html) .corepageContentContainer {
    margin-top: 34px;
  }
}

@media (--sm-down) {
  :global(html) .corepageContentContainer {
    margin-top: 16px;
  }
}
