.SubCanvas {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 8px !important;
  border-spacing: 0 !important;
}

.link {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 16px;
  width: 100%;
}

.button {
  border: 1px solid #EFEFEF;
  border-radius: 2px;
  background: white;
  color: #525252;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  width: 100%;
}

.button:focus {
  outline: none;
}
