.Chart {

}

.RangeDropdown {
  display: flex;
  align-items: center;
  margin: 10px;
  justify-content: flex-end;

  .caret {
    height: 4px;
  }

  select {
    margin-left: auto;
    background: none;
    appearance: none;
    outline: none;
    border: none;
    color: #323232;
    font-size: 10px;
    letter-spacing: 0;
    line-height: 20px;
  }
}
