.container {
  padding: 0 24px;
}

.text {
  font-family: var(--mono);
  font-size: 10px;
  font-weight: 500;
  color: #525252;
  line-height: 2em;
}

.text a {
  text-decoration: underline;
  color: inherit;
}

.text a:hover {
  text-decoration: none;
}

.text a:link,
.text a:visited,
.text a:hover,
.text a:active {
  color: inherit;
}
