.ForEach {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}

.ports {
  padding: 0;
}

.portValueContainer {
  width: 100%;
}

.button {
  padding: 8px;
  padding-top: 4px;
}
