.root {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: all;
  position: absolute;
  top: 0;
  transform-origin: center center;
  width: 100%;
  z-index: 1;
}

.source {
  background-color: #EFEFEF;
  border: 1px solid #ADADAD;
  border-radius: 50%;
  transform-origin: center center;
}

.target {
}

.dragHandle,
.dragCancel {
  /* Class names for react-draggable. */
}
