.container {
  line-height: 28px;
}

.title {
  font-size: 14px;
  line-height: 20px;
}

.icon {
  margin-right: 16px;
}

.error {
  background: url('../../../../assets/error.svg');
  display: inline-block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
