@import '@streamr/streamr-layout/pcss/variables.pcss';

.search {
    background: #f8f8f8;
    color: #cdcdcd;
    font-size: 1.5em;
    padding: 1.5em 0;
    text-align: center;
}

.search span {
    border-left: 1px solid #979797;
    display: inline-block;
    padding-left: 0.3em;
}
