.icon {
  margin: 0.5rem 0 1.5rem;
}

.content {
  padding: 1rem 2rem;
}

.footer {
  padding: 1.125rem 2rem;
  display: flex;
  align-items: center;
}

.footerText {
  flex: 1;
  text-align: left;
}
