.layout {
  color: var(--greyDark);
  background-color: var(--greyLight3);
}

.editorContent {
  background-color: var(--greyLight3);
}

.previewContent {
  background-color: white;
  padding-top: 0;
}

.toolbarMiddle {
  color: #A3A3A3;
  font-family: var(--sans);
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 0;
  white-space: nowrap;
}
