.layout {
  display: flex;
  flex: 1;
}

.DashboardEdit {
  position: relative;
  flex: 1;
  flex-direction: column;
  font-family: 'IBM Plex Sans', sans-serif;
  display: grid;
  grid-template-areas:
    'canvas'
    'footer';
  grid-template-rows: 1fr auto;
}

.Dashboard {
  grid-area: canvas;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.DashboardToolbar {
  grid-area: footer;
  width: 100vw;
  z-index: 11;
}
