.Label {
  border-radius: 2px;
  background: #0324FF;
  color: white;
  font-family: var(--sans);
  font-size: 0.75rem;
  letter-spacing: 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  line-height: 24px;
  display: inline-block;
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px 0;
}

.bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 2px 0;
}
