a {
    color: #0324ff7f;
    font-weight: inherit;
}

a:link,
a:visited {
    color: #0324ff;
}

a:link,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
}

a:focus,
a:hover {
    color: #0d009a;
}

a:active {
    color: #13013d;
}
