:root {
    --fontSize: 1rem;
    --mono: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
    --sans: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
    --um: 16px; /* Wishful thinking: Future 1rem? — Mariusz */

    /* Colors */
    --white: #ffffff;
    --orangeOld: #e9570f;
    --orange: #ff5c00;
    --orangeDark: #e9570f;
    --blueLight: #cce9fd;
    --streamrBlue: #0324ff;
    --blue2: #37a0e9;
    --blueDark: #28026b;
    --blueDark2: #1b0157;
    --blueDark3: #13013d;
    --blueDark4: #36049d;
    --blueDark5: #33037f;
    --blueDark6: #0d009a;
    --blueDark7: #1d004e;
    --blueDark8: #010002;
    --blueDark9: #09006d;
    --greenGoLive: #2ac437;
    --greyLight: #adadad;
    --greyLight2: #cecece;
    --greyLight3: #f8f8f8;
    --greyLight4: #f5f5f5;
    --greyLight5: #a1a1a1;
    --grey: #d3d3d3;
    --grey2: #adadad;
    --grey3: #c3c3c3;
    --grey4: #e7e7e7;
    --greyDark: #323232;
    --greyDark2: #525252;
    --purpleLight: #9173ff;
    --purpleLight2: #d4b8ff;
    --purple: #7549d9;
    --purple2: #6240af;
    --purpleDark: #53407f;
    --purpleDark2: #3c00a3;
    --purpleDark3: #0d002b;
    --purpleDark4: #4a3086;

    /* Font weights */
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semiBold: 600;
    --bold: 700;

    /* shared vars */
    --nav-shadow: 0 10px 10px rgba(0, 0, 0, 0.02);
}

@custom-selector :--enter :hover, :focus, :global(.active);
@custom-selector :--idle :active, :visited;
