.icon {
  margin: 20px 0 40px;
}

.buttonContainer {
  display: flex;
  border-top: 1px solid #F2F1F1;
  margin-top: 32px;
  padding-top: 20px;

  .externalButton {
    width: 144px;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

@media (--xs) {
  .icon {
    margin: 0 0 10px;
  }

  .buttonContainer {
    margin-top: 15px;
    flex-direction: column;

    .externalButton:not(:last-child) {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
