.infoView {}

.textInput {
  margin-top: 3.5rem;
}

.copyStreamIdButton {
  width: 128px;
  margin-bottom: 1.5rem;
  display: flex;
  align-self: center;
}

.partitions {
  margin-top: 3rem;
  border-top: 1px solid #E7E7E7;
  padding-top: 1em;
}
