.infoView {
  max-width: 682px;
}

.textInput {
  margin-bottom: 3rem;
}

.copyStreamIdButton {
  width: 128px;
  margin-bottom: 1.5rem;
  display: flex;
  align-self: center;
}

.partitions {
  border-top: 1px solid #E7E7E7;
  padding-top: 1em;
}
