@import "../variables.pcss";

.pageInner {
    background: white;
    position: relative;
    z-index: 1;
}

.page {
    padding-bottom: 262px;

    @media (--sm-up) {
        padding-bottom: 418px;
    }

    @media (--md-up) {
        padding-bottom: 450px;
    }

    @media (--lg-up) {
        padding-bottom: 496px;
    }

    @media (--xl) {
        padding-bottom: 528px;
    }
}
