.hero {
  padding-bottom: 0;
}

.heroContainer {
  grid-column-gap: 4rem;
}

.productImageWrapper {
  position: relative;
}

.productImage {
  width: 100%;
  max-height: 307px;
  object-fit: cover;
}
