.productPage {
  color: black;
  padding-bottom: 3em;

  :global(.container) {
    max-width: 1110px;
  }
}

.loadingIndicator {
  top: 2px;
}

@media (--sm-up) and (--lg-down) {
  .productPage {
    :global(.overview) {
      max-width: 624px;
    }
  }
}
