.productPage {
  color: black;
  padding-bottom: 3em;

  :global(.container) {
    max-width: 1110px;
  }

  h1,
  h2 {
    margin: 0;
  }

  .section {
    margin-top: 4em;
  }
}

.loadingIndicator {
  top: 2px;
}
