.root {
  margin: 20px;
  position: absolute;
  will-change: transform;
}

.isDragged .root > * {
  pointer-events: none;
}

.optionsButton {
  appearance: none;
  background: none;
  border: none;
  color: #CDCDCD;
  margin: 0;
  padding: 0;
}

.optionsButton > svg {
  display: block;
  height: 1.5em;
  width: 1.5em;
}

.optionsButton:focus {
  outline: none;
}

.canvasModuleUI {
  border-top: 1px solid #EFEFEF;
  overflow: auto;
}
