.layout {
  display: flex;
  flex: 1;
}

.CanvasEdit {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans', sans-serif;
}

.Canvas {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.CanvasToolbar {
  width: 100vw;
  z-index: 11; /* show over connections */
}
