/* backdrop shown behind each modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.dialog {
  p {
    line-height: 24px;
    margin-bottom: 0;
  }

  .buttons {
    padding: 20px 37px;
  }
}

.spinner {
  margin: 12px 0 50px;
}
