.content {
  width: 100%;
  text-align: left;
}

.row {}

.row + .row {
  margin-top: 3rem;
}

.dropdown {
  width: 100%;
}

.helpText {
  font-size: 12px;
  line-height: 20px;
  color: #A3A3A3;
}

.customInput {
  :global(label),
  :global(.shared_underline_root),
  :global(.shared_underline_root::after),
  :global(.shared_underline_root::before) {
    z-index: 0;
  }
}
