.content {
  width: 100%;
  text-align: left;
}

.row {}

.row + .row {
  margin-top: 2rem;
}

.dropdown {
  width: 100%;
}

.helpText {
  font-size: 12px;
  line-height: 20px;
  color: #A3A3A3;
}

.customInput {
  margin-bottom: 1rem;
}
