.editor {}

.root {
  &:not(:first-child) {
    & > .editor {
      margin-top: 1.5rem;
    }
  }
}

.PermissionKeyField {}

.keyFieldContainer {
  position: relative;
}

.select {
}

.permissionHeader {
  &:empty::after {
    content: ' ';
    white-space: pre;
  }
}
