.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--greyDark);
}

.content {
  background-color: #F8F8F8;
  flex-grow: 1;
}

.pad {
  padding: 2.5rem 0;
}

@media (--sm-down) {
  .pad {
    padding: 0;
  }
}
