.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--greyDark);
}

.loadingIndicator {
  top: 2px;
}

.content {
  background-color: #F8F8F8;
  padding: 2.5rem 0;
  flex-grow: 1;
}

@media (--sm-down) {
  .content {
    padding: 0;
  }
}
