@import '@streamr/streamr-layout/pcss/variables.pcss';

.backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 12;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-x: hidden;
}

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #323232;
  max-width: 528px;
  min-height: 320px;
}

@media (--xs) {
  .dialog {
    width: 100%;
    height: 424px;
    padding: 0 24px;
  }
}
