.ports {
  display: grid;
  font-family: var(--mono);
  font-size: calc(0.625 * var(--um));
  font-weight: var(--medium);
  grid-column-gap: var(--um);
  grid-template-columns: auto auto;
  padding: calc(0.625 * var(--um)) 0;
}
