.fieldList {
  padding: 2em;
}

.svgIcon {
}

.pngIcon {
  display: block;
  max-height: 3em;
  max-width: 3em;
}

.iconWrapper {
  align-items: center;
  color: #323232;
  display: flex;
  font-family: 'IBM Plex Mono', sans-serif;
  font-size: 16px;
  line-height: 1em;
}

.iconInner {
  border-radius: 2px;
  box-sizing: content-box;
  border: 1px solid #AAAAAA;
  margin-right: 1em;
  padding: 0.5em;
  min-height: 1em;
  min-width: 1em;
}
