<!DOCTYPE html>

<% const title = 'Streamr Marketplace' %>
<% const description = 'Data done differently' %>

<html>
<head>
    <title><%= title %>></title>

    <link href="https://www.streamr.com/assets/Favicons/favicon-16x16.png" rel="icon" size="16" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/favicon-32x32.png" rel="icon" size="32" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/favicon-96x96.png" rel="icon" size="96" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/apple-icon-57x57.png" rel="apple-touch-icon" size="57" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/apple-icon-60x60.png" rel="apple-touch-icon" size="60" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/apple-icon-72x72.png" rel="apple-touch-icon" size="72" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/apple-icon-76x76.png" rel="apple-touch-icon" size="76" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/apple-icon-114x114.png" rel="apple-touch-icon" size="114" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/apple-icon-120x120.png" rel="apple-touch-icon" size="120" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/apple-icon-144x144.png" rel="apple-touch-icon" size="144" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/apple-icon-152x152.png" rel="apple-touch-icon" size="152" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/apple-icon-180x180.png" rel="apple-touch-icon" size="180" data-react-helmet="true" type="image/png">
    <link href="https://www.streamr.com/assets/Favicons/android-icon-192x192.png" rel="icon" size="192" data-react-helmet="true" type="image/png">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" data-react-helmet="true">
    <meta name="description" content="<%= description %>" data-react-helmet="true">
    <meta property="og:title" content="<%= title %>" data-react-helmet="true">
    <meta property="og:description" content="<%= description %>" data-react-helmet="true">
    <meta property="og:image" content="https://www.streamr.com/assets/HeroImages/Streamr-Social_Large.jpg" data-react-helmet="true">
    <meta name="twitter:card" content="summary_large_image" data-react-helmet="true">
    <meta name="twitter:title" content="<%= title %>" data-react-helmet="true">
    <meta name="twitter:description" content="<%= description %>" data-react-helmet="true">
    <meta name="twitter:image" content="https://www.streamr.com/assets/HeroImages/Streamr-Social_Large.jpg" data-react-helmet="true">
    <meta name="msapplication-TileColor" content="#ffffff" data-react-helmet="true">
    <meta name="msapplication-TileImage" content="https://www.streamr.com/assets/Favicons/ms-icon-144x144.png" data-react-helmet="true">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js" data-react-helmet="true"></script>
    <style data-react-helmet="true">@-ms-viewport { width: device-width; }</style>
</head>
<body>
    <div id="root"></div> <!-- React root -->
</body>
</html>