.codeSnippet {
  width: 100%;
  margin: 0;
  background-color: #F8F8F8 !important;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
}

:global(.react-syntax-highlighter-line-number) {
  color: #ADADAD;
  margin-right: 1.5rem;
}
