@import "@streamr/streamr-layout/pcss/variables.pcss";

.accountCircle {
  background-color: #97BAC0;
  border-radius: 50%;
  color: white;
  float: right;
  font-size: 16px;
  font-weight: 500;
  height: 2.5em;
  line-height: 2.5em;
  margin-right: 15px;
  width: 2.5em;
  text-align: center;
}

.inner {
  font-size: 1.125em;
}

@media (--md-up) {
  .accountCircle {
    float: none;
    margin-right: 0;
  }
}
