@import "@streamr/streamr-layout/pcss/variables.pcss";

.accountCircle {
  background-color: #97BAC0;
  border-radius: 50%;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 3em;
  height: 3em;
  width: 3em;
  text-align: center;
}

.inner {
  font-size: 1.125em;
}

@media (--md-up) {
  .accountCircle {
    height: 2.5em;
    line-height: 2.5em;
    width: 2.5em;
  }
}
