.paymentRate {
  font-size: 2em;
  padding: 2em 0;
  text-align: center;
}

.paymentRateEditor {
  border-top: 1px solid #E7E7E7;
  padding: 3em 0;
}

.dialog {
  text-align: left;

  :global {
    .btn {
      min-width: 140px;
    }
  }
}

.addresses {
  padding: 3em 0 0;
}

.backdrop {
  background-color: white;
}

.info {
  font-size: 14px;
  color: #525252;
  line-height: 24px;
}
