.container {
  box-sizing: content-box;
  border-radius: 4px;
  left: -32px;
  padding: 1em 1em 1em 32px;
  position: relative;
  width: 100%;
  background: #F5F5F5;
}

.addButton {
  margin-top: 2em;
}

.cancelButton {
  margin: 2em 0 0 2em;
}
