.root {
  display: grid;
  grid-column-gap: calc(0.25 * var(--um));
  grid-row-gap: calc(0.25 * var(--um));
  grid-template-columns: auto auto var(--um);
  padding: calc(0.125 * var(--um)) 0;
  align-items: center;
}
