.Canvas {
  background: #EFEFEF;
  position: relative;
}

.CanvasElements {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.Modules,
.Cables {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.Cables {
  z-index: 0;
  fill: none;
}

svg.Cables {
  overflow: visible;
}

.Connection {
  stroke: #525252;
  fill: none;
  stroke-width: 1;
}
