
.CanvasRename {
  font-weight: bold;
  color: #525252;
  border: none;
  background: none;
  min-width: max-content; /* prevent canvas name being squashed out */
}

.CanvasRename::selection {
  background: rgba(3, 36, 255, 0.1);
}

.CanvasRenameContainer:not(:focus-within) .CanvasRename {
  pointer-events: none;
}
