.root {
  background: #F8F8F8;
  color: #525252;
  font-size: 16px;
  width: 100%;
  z-index: 0;
  height: 262px;
}

.inner {
  width: 100%;
}

.inViewport {
  bottom: 0;
  position: fixed;
}

@media (--sm-up) {
  .root {
    height: 418px;
  }
}

@media (--md-up) {
  .root {
    height: 450px;
  }
}

@media (--lg-up) {
  .root {
    height: 496px;
  }
}

@media (--xl) {
  .root {
    height: 528px;
  }
}
