.nav {
  z-index: 10;
}
.signupButtonContainer {
  height: 100%;
  display: flex;
  align-items: center;

  .signupButton {
    border-color: #323232;
    color: #323232;
  }
}
.accountCircleLink {
  text-decoration: none !important;
  color: white !important;
}
