.root {

}

.description {
  /* otherwise security slider moves when text content updated */
  min-height: 10em;
}

.InactivityOptions {
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 4px;
  background: #FDFDFD;
  padding: 3um 3.8um;
  padding-top: 4um;
}
