.modalContainer {
  background: #FFFFFF;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  color: #323232;
  border-radius: 2px;
  width: 528px;
  min-height: 320px;
  display: flex;
  flex-direction: column;
}

@media (--xs) {
  .modalContainer {
    height: 100%;
    width: 100%;
  }
}
