@import 'variables.pcss';

.profilePage {
  color: black;
  padding-bottom: 3em;
  z-index: 11;
  top: -4em;
  position: relative;
  font-size: 14px;

  @media (--md-down) {
    top: -6.3em;
  }

  @media (--md-up) {
    top: -7.4em;
  }
}
