.profilePage {
  padding-bottom: 3rem;
}

.longText {
  line-height: 24px;
  letter-spacing: 0;
  display: none;
}

.removeAccountButton {}

@media (--md-up) {
  .longText {
    display: block;
  }

  .removeAccountButton {
    margin-top: 3.75rem;
  }
}

@media (--lg-up) {
  .removeAccountButton {
    margin-top: 3rem;
  }
}
