.content {
  padding: 24px 37px;
  text-align: left;
}

.footer {
  display: flex;
  width: 100%;
}

.language {
  span {
    color: #0324FF;
  }
}

.library {
  margin-left: 1rem;

  a,
  a:active,
  a:hover,
  a:visited {
    color: #0324FF;
    text-decoration: none;
  }
}

.languageTitle {
  margin-right: 0.5rem;
}

.buttons {
  flex: 1;
}

.noPadding {
  padding: 0;
}
