.userpages {
  color: #292B2C;
  display: flex;
  flex: 1;
}

:global {
  /* align panel heading content/controls horizontally */
  .panel-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
