.addressWrapper {
  margin-top: 0.5rem;
}

.icon {
}

.address {
  background: #EFEFEF;
  border-radius: 4px;
  padding: 4px 8px;
  font-weight: var(--medium);
}

@media (--xs) {
  .icon {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
  }
}
